<header>
      <!--Top Logo / Navbar-->
      <nav class="nav ">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Tune Scrape</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
          </ul>
        </div>   
      </nav>
    </header>
    
    <main class="valign-wrapper">
      <div id= "articles" class="container">
        <div class="row">
          <div id="login-card" class="card col s12 m6 offset-m3">
            <div class="card-content">
              <span class="card-title">Login</span>
                <div class="row center">  
                  <form id="signin" name="signin" method="post" action="signin">
                    <div class="input-field col s12"> 
                      <input class="text" name="email" type="text">
                      <label for="email">Email Address</label>
                    </div>
                    <div class="input-field col s12"> 
                      <input name="password" type="password">
                      <label for "password">Password</label>
                    </div>
                    <input class="btn" type="submit" value="Sign In">
                  </form>
                </div>    
            </div>
          </div>

      </div>
    </main>

    <footer class="page-footer center">
      <div class="footer-copyright">
        <div class="container">
        © 2017
        </div>
      </div>
    </footer>