<header>
      <!--Top Logo / Navbar-->
      <nav class="nav ">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Tune Scrape</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
          </ul>
        </div>   
      </nav>
    </header>
    
    <main class="valign-wrapper">
      <div id= "articles" class="container">
       
      </div>
    </main>

    <footer class="page-footer center">
      <div class="footer-copyright">
        <div class="container">
        © 2017
        </div>
      </div>
    </footer>